# Ignore everything
/*

# Folders
!/gradle
!/src

# Files
!/.gitattributes
!/.gitignore
!/.editorconfig
!/settings.gradle
!/gradle.properties
!/build.gradle
!/gradlew
!/gradlew.bat
!/HEADER
!/Jenkinsfile
!/LICENSE
!/README.md
!*.cmd
